*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

a{color: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

@font-face {
	font-family: "Source Sans Pro";
	src: url("../fonts/SourceSansPro-Semibold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Source Sans Pro";
	src: url("../fonts/SourceSansPro-Regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Bodoni 72";
	src: url("../fonts/BodoniSvtyTwoITCTT-Book.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

.button{
    display: inline-block;
    background-color: #D8AE5E;
    padding: 8px 16px;
    border-radius: 4px;
    transition: 0.3s;
    color: white;
}
.container {
    max-width: 1054px;
    margin: 0 auto;
    padding: 0 15px;
}
body{
    font-family: "Source Sans Pro";
    font-size: 16px;
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.page{
    flex: 1 1 auto;
}
.hero {
    position: relative;
    color: white;
}
.hero::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.6;
    z-index: -1;
}
.hero__image-main{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
    z-index: -50;
}
.hero__row {
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 0;

    row-gap: 15.5339805825svh;
}
.hero__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}
.menu__list {
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
}
.menu__link:hover{
    text-decoration: underline;
}
.hero__body {
    display: flex;
    flex-direction: column;

    gap: 20px;
    align-items: center;
    text-align: center;
}
.hero__title {
    font-family: "Bodoni 72", serif;
    font-size: 96px;
}
.hero__subtitle {
    font-size: 24px;
    letter-spacing: 15%;
}
.button:hover{
    background-color: #ffbb3e;
}
@media (max-width: 767.98px){
    .hero__row {
        padding: 45px 0;
    }
    .hero__title {
        font-family: "Bodoni 72", serif;
        font-size: 63px;
    }
    .menu__list{
        font-size: 24px;
        max-width: 300px;
    }
    .for-order-link{
        order: 1;
    }

}

.about-us {
    background-color: white;
    padding: 64px 0;
    text-align: center;
}
.block {
    text-align: center;
}

.block__title {
    font-family: "Bodoni 72", serif;
    font-size: 64px;
    margin-bottom: 8px; 
}
.block__sub-title {
    letter-spacing: 5%;
    text-transform: uppercase;
}
.block:after{
    content: '';
    display: inline-block;
    width: 120px;
    height: 1px;
    background-color: #D8AE5E;
    margin-top: 32px;
}
.about-us__text {
    max-width: 600px;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
    line-height: 150%;
    letter-spacing: 1px;
    margin-top: 32px;
    margin-bottom: 32px;
}

@media (max-width: 767.98px){
    .about-us{
        padding: 30px 0;
    }
}
.activities {
    background-color: #F4F4F4;
    padding: 64px 0;
}
.activities__header{
    margin-bottom: 64px;
}
.activities__body:not(:last-child){
    margin-bottom: 64px;
}
.activities__row-first {
    max-width: 737px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 96px;
}
.activities__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.activities__item img{
    
    max-height: 64px;
    object-fit: contain;
    margin-bottom: 16px;
}
.activities__text {
    font-size: 20px;
    letter-spacing: 1px;
}
.activities__row-second {
    max-width: 916px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.activities__footer{
    text-align: center;
    font-size: 20px;
    letter-spacing: 1px;
}
.activities__footer a{
    display: inline-block;
    padding-bottom: 8px;
    border-bottom: 1px solid #D8AE5E;
    transition: 0.4s;
}
.activities__footer a:hover{
    color: #D8AE5E;
}

@media (max-width: 767.98px){
    .activities{
        padding: 30px 0;
    }
}
@media (max-width: 500.98px){
    .activities__row-first{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 60px;
        margin-bottom: 60px;
    }
    .activities__row-second{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 30px;
    }
    .activities__item {
        flex: 0 1 40%;
    }
    .for-order-3{
        order: 1;
    }
    .for-order-3-second{
        order: 1;
    }
    .activities__item img{
        height: none;
    }
    .activities__text{
        font-size: 28px;
    }
    .block__title{
        font-size: 42px;
    }
}
.udogo {
    background-color: white;
    padding: 64px 0 106px;
}
.udogo__header {
    margin-bottom: 64px;
}
.udogo__body {
    text-align: center;
}
.info {
    font-size: 24px;
    letter-spacing: 4px;
    margin-bottom: 32px;
}
.udogo__row {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}
.udogo__row:not(:last-child){
    margin-bottom: 74px;
}
.udogo__item {
    border-radius: 4px;
    overflow: hidden;
    flex: 0 1 auto;
}
.udogo__item:hover .udogo__link img{
    transform: scale(1.1);
}
.udogo__item:nth-child(6n + 3) .udogo__link,
.udogo__item:nth-child(6n + 4) .udogo__link{
    width: 408px;
}
.udogo__link {
    padding: 10px;
    width: 291px;
    height: 286px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    z-index: 5;
}
.udogo__link:after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.2;
    z-index: -1;
}
.udogo__text {
    color:white;
    font-size: 28px;
    letter-spacing: 4;
    font-weight: 600;
}
.udogo__link img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    object-fit: cover;
    transition: 0.5s;
}
@media (max-width: 1051px){
    .udogo__link{
        width: 408px;
    }
}
@media (max-width: 861px){
    .udogo__link{
        width: 291px;
    }
    .udogo__item:nth-child(6n + 3) .udogo__link,
    .udogo__item:nth-child(6n + 4) .udogo__link{
        width: 291px;
    }
}
@media (max-width: 767.98px){
    .udogo {
        padding: 40px 0 40px;
    }
    .udogo__row:not(:last-child){
        margin-bottom: 30px;
    }
}
.contacts {
    padding: 64px 0;
    background-color: #F4F4F4;
}
.contacts__header {
    margin-bottom: 64px;
}
.contacts__body {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 16px;
    font-size: 16px;
    line-height: 1;
    align-items: center;
    justify-content: center;
}

.contacts__number,
.contacts__mail,
.contacts__adress
{
    display: flex;
    align-items: center;
    gap: 16px;
}
.contacts__number:hover,
.contacts__mail:hover,
.contacts__adress:hover{
    text-decoration: underline;
}
.contacts__number::before{
    content: url(../img/contacts/phone.svg);
}
.contacts__mail::before {
    content: url(../img/contacts/mail.svg);
}
.contacts__adress::before {
    content: url(../img/contacts/map.svg);
}
.contacts__footer {
    margin-top: 64px;
}
.socials__list {
    display: flex;
    justify-content: center;
    gap: 32px;
}
.socials__icon{
    transition: 0.3s;
}
.socials__icon:hover{
    transform: scale(1.1);
}
@media (max-width: 767.98px){
    .contacts__number,
    .contacts__mail,
    .contacts__adress{
        font-size: 20px;
    }
    .contacts__body {
        gap: 45px;
    }
    .contacts {
        padding: 30px 0;
    }
}
.footer {
    background-color: white;
    text-align: center;
    padding: 64px 0;
}
.footer__row{
    display: flex;
    flex-direction: column;
    gap: 64px;
}
.footer__logo {
    margin-bottom: 64px;
}
.footer__c p{
    margin-bottom: 16px;
}
.footer__c a:hover{
    text-decoration: underline;
}
.footer__c a span{
    font-weight: 600;
}
.footer__link-bottom:hover{
    text-decoration: underline;
}
@media (max-width: 767.98px){
    .footer {
        padding: 30px 0;
    }
}

::-webkit-scrollbar {
    width: 10px; 
}

::-webkit-scrollbar-track {
    background: #f4f4f4;
    border-radius: 5px; 
    background: none;
    border: none;
}

::-webkit-scrollbar-thumb {
    background: #D8AE5E;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #dfa12f;
}
